@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@100..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./animations.css";
@import "./swiper.css";
/* @import "./preorder.css"; */
@import "./navbar.css";

.custom-gradient-text {
    background: linear-gradient(0deg, #2300f9 0%, #009ff9 45%, #08fff0 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* Tailwind CSS Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
